*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
.wrapper{
    width: 420px;
    background-color: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid aqua;
    backdrop-filter: blur(20px);
}
body{
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('sunset.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.wrapper h1{
    text-align: center;
    padding: 36px;
}
.wrapper .input-box
{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid gray;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    padding: 20px;    
}
.input-box input::placeholder{
    color: white;
    font-size: 12px;
    padding-left: 10px;
}
.input-box i{
    position: absolute;
    right: 20px;     /* Adjust distance from the right side */
    top: 50%;       /* Vertically center the icon */
    transform: translateY(-50%);  /* Adjust for perfect centering */
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: 2px 0; 
    padding: 10px;
}
.remember-forgot input label{
    accent-color: white;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    cursor: pointer;
    background: aqua;
    border: none;
    outlline: none;
    border-radius: 40px;
    box-shadow: ;
    color: rgb(108, 105, 107);
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}
.wrapper .register-link{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}